worker_processes  1;  # Количество рабочих процессов

events {
    worker_connections  1024;  # Максимальное количество подключений на процесс
}

http {
    sendfile        on;  # Включить sendfile (эффективная передача файлов)
    keepalive_timeout  60;  # Время жизни keep-alive соединений

    upstream {{ nginx_upstream_name }} {
        # least_conn; least connections - один из вариантов, по умолчанию стоит round robin, который я и выбрал.
        {% for i in range(1, number_of_containers + 1) %}
        server localhost:800{{i}};
        {% endfor %}
    }

    server {
        listen       80;  # Слушать порт 80
        server_name  ${IP_ADDRESS};  # IP_ADDRESS - внешний ip-адрес сервера

        location / {
            proxy_pass http://{{ nginx_upstream_name }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        error_page   500 502 503 504  /50x.html;  # Обработка ошибок 5xx
        location = /50x.html {
            root   html;  # Путь к файлам HTML (по умолчанию /usr/share/nginx/html)
        }
    }
}
